* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    
    background-image: url("/img/background.jpg");
    background-color: #cccccc;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
.main {
    background: rgba(0, 0, 0, 0.6);
    width:70%;
    height: 90%;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin:auto;  
}

#logo-lim {
    width:230px;
    height:100px;
    align-items: center;
    margin-top:10%;
    margin-left: 40%;
    margin-right: 40%;
    
}



h1 {
    text-align: center;
    color:greenyellow;
}

h2, p {
    color:white;
    margin-bottom: 0;
}


#container-green {
    background-color:greenyellow;
    width: 90%;
    height:40px;
    align-items: center;
    margin-left: 50px;
    
}

.row {
    align-items: center;
    margin-left:35%;

}

div > button {
     
  margin-top: 10px;
  cursor:pointer;
  display: inline-block;
   
}


div > button:hover {
    background-color: #4CAF50;
    color: white;
  }

.content {
    width: 90%;
    height:40px;
    margin-left:50px;
}


#row-orange {
    background-color: orange;
    width: 300px;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    
}

#row-green {
    background-color: greenyellow;
    width: 400px;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
}

#row-red {
    background-color: red;
    width: 150px;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
}

@media screen and(max-width:768px) {
    .lim-text{
        width: 100%;
    }
    .button-row {
        
        display:inline-block;
        
    }
    .content {
       width: 100%;
    }
}



